<div class="root">

    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">Select your board</p>
        </div>

        <section class="board-grid">
            <div class="board-card" *ngFor="let board of this.boards" [routerLink]="['/boards', board._id]" routerLinkActive="is-active"  >{{board.title}}</div>
        </section>
    </div>

</div>