.board-grid
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fit, minmax(240px, 300px))
    padding: 15px

.board-card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #fff
    color: #353535
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.75rem 0.175rem
    height: 100%
    width: 100%
    transition: all 500ms
    overflow: hidden
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    //font-size: 2rem
    font-size: 20px
    font-family: "Lato", sans-serif
    padding: 15px 12px


.board-card:hover
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.08) 0px 0.175rem 0.5rem
    transform: translateY(-3px) scale(1.1)

.create-board
    background: #4177F6
    color: #fff