<div class="root">

    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">{{boardTitle}}</p>
            <a  routerLink="/boards" class="back">Back ></a>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>

                <!--IDEA COLUMN-->
                <div class="board-column" *ngFor="let column of myColumns">

                    <div class="column-title">{{column.title}}</div>

                    <div class="tasks-container"
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">

                        <div class="task"  *ngFor="let task of column.tasks" cdkDrag>{{task.title}}</div>

                        <!-- <div class="task" >+ New task</div> -->

                    </div>

                    <button class="add-btn circle-add-button button is-primary has-background-dark">
                        <span class="material-icons md-48">add</span>
                    </button>

                </div>

            </div>
        </div>
    </div>

</div>