.board
    .board-bar
        display: flex
        .board-name
            margin-right: auto
        .back
            font-size: 20px
            font-weight: bold
            color: white

.board-column
    .add-btn
        max-height: 2.5em
        margin-left: auto
        margin-top: auto
        border-radius: 0