<div class="root">

    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">New column</p>
            
            <a [routerLink]="['/boards', this.boardId]" class="back"> < Back</a>
        </div>
        
        <div class="modal-box">
            <h2 class="title">Create a new column</h2>

            <input #columnTitleInput class="input has-background-light" type="text" placeholder="New column">
            
            <br><br>

            <div class="buttons is-right">
                <button  class="button is-primary">Create</button>
            </div>

        </div>

    </div>

</div>